################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Build / test artifacts
*.exe
*.dll
*.obj
__pycache__/
found_keys.txt
cyclone_tests_results.txt
